---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Mongo from "./icons/mongo.astro"
import NEXTS from "./icons/Estani.astro"
import Websockets from './icons/websocket.astro'
import wordpress from './icons/wordpress.astro'
const TAGS = {
  NEXT: {
    name: "Angular.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Node.js",
    class: "bg-black text-white",
    icon: Tailwind,
  },
  MONGO: {
    name: "Mongodb",
    class: "bg-black text-white",
    icon: Mongo,
  },
  NEXTS: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NEXTS,
  },
  WEBSOCKETS: {
    name: "Websockets",
    class: "bg-black text-white",
    icon: Websockets,
  },
  WORDPRESS: {
    name: "Wordpress",
    class: "bg-black text-white",
    icon: wordpress,
  }
}
const PROJECTS = [
  {
    title: "Dashboard Laikad-space-v1",
    description:
      "Se creó un dashboard en AngularJS para el análisis de campañas, mejorando el seguimiento y visualización de clics en dispositivos móviles y desktop. La plataforma proporciona métricas en tiempo real, facilitando la optimización del rendimiento y la toma de decisiones estratégicas.",
    link: "https://admin.laikad.com/app/#/app/dashboard/list",
    github: "https://github.com/pheralb/svgl",
    image: "/projects/dashh.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND,TAGS.MONGO],
  },
  {
    title: "Dashboard Laikad-space-v2",
    description:
      "Se implementó un panel de control para el análisis de campañas, empleando Next.js, lo que resultó en una mejora en el desempeño, la optimización para motores de búsqueda y la experiencia del usuario. Ahora, este panel ofrece nuevas capacidades, como filtros de búsqueda avanzados, comunicación en tiempo real a través de chat y una clasificación de estadísticas. Estas funcionalidades permiten un seguimiento más minucioso de los clics tanto en dispositivos móviles como de escritorio, proporcionando métricas actualizadas al instante para facilitar la toma de decisiones estratégicas.",
    link: "https://adventjs.dev",
    image: "/projects/nuevo-front.png",
    tags: [TAGS.NEXTS, TAGS.WEBSOCKETS],
  },
  {
    title: "Website Laikad",
    description:
      "Laikad es una agencia de mercadotecnia digital enfocada en el estudio y seguimiento de interacciones de usuarios en plataformas móviles y de escritorio. A través de la interpretación de datos detallados, optimizamos las estrategias publicitarias para impulsar el desempeño y lograr un mayor índice de conversiones.",
    link: "https://laikad.com",
    image: "/projects/laikad-app.png",
    tags: [TAGS.WORDPRESS],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



